div{
    color:#282A36;
    color:#F8F8F2;
    color:#44475A;
    color:#6272A4;
    color:#8BE9FD;
    color:#50FA7B;
    color:#FFB86C;
    color:#FF79C6;
    color:#BD93F9;
    color:#FF5555;
    color:#F1FA8C;
}